<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">${db.url}</property>
        <property name="connection.driver_class">${db.driver}</property>
        <property name="connection.username">${db.username}</property>
        <property name="connection.password">${db.password}</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="show_sql">true</property>

        <mapping class="ru.shaplov.models.Brand"/>
        <mapping class="ru.shaplov.models.Model"/>
        <mapping class="ru.shaplov.models.BodyType"/>
        <mapping class="ru.shaplov.models.EngineType"/>
        <mapping class="ru.shaplov.models.DriveType"/>
        <mapping class="ru.shaplov.models.TransType"/>
        <mapping class="ru.shaplov.models.CarUser"/>
        <mapping class="ru.shaplov.models.Item"/>
        <mapping class="ru.shaplov.models.Unifying"/>
    </session-factory>
</hibernate-configuration>